<phpunit bootstrap="./phpunit.php">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Tests.php">./tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Tests.php">./tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
